<%- include("../includes/header.ejs", {title:"Employee View All"}); %>
<h1>Employee</h1>


<a href="/Employee/drivers">Driver infomation.</a> <br>
<table border="1">
    <tr><th>First Name</th><th>Last Name</th><th>Email</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].First_Name%></td>
        <td><%= result [i].Last_Name%></td>
        <td><%= result[i].Email %></td>
    </tr>
    <% } %>
</table>
<br>
<a href="/">Back</a>

</html>