<%- include("../views/includes/header.ejs", {title: "About"}); %>

<h1>About</h1>
<h3>Description</h3>
<p>This company is produces high quality chocolates, in various unique flavors, and distributes them to different
vendors. The company employees a variety of highly skilled employees, which include, designers, salespeople, specialized factory
works, chocolatiers, and delivery drivers.</p>

<h3>Contact Information</h3>
<p>Email - coca@sonoma.edu</p>
<p>Phone - 201-888-8888</p>

<a href="/about/er">ER Diagram</a></br>
<a href="https://www.lucidchart.com/documents/view/f7603558-0c19-4ecd-9930-cf454eeb3f05">Relational Schema</a>
</br>
</br>
</br>
<a href="/">Back</a>

