<%- include("../views/includes/header.ejs", {title: "Candy Company"}); %>

<link rel ='stylesheet' href ='/stylesheets/style.css' />
<body>
<h1><%= "Home"%></h1>
<a href="Flavor/all">Flaa vors</a> <br />
<a href="about/">About</a> <br />
</body>
