<%- include("../includes/header.ejs", {title:"Ingredient - View All"}); %>
<h1>Ingredients</h1>



<br>
<table border = "1">
    <th>Ingredient Name</th><th>Cost Per Pound</th><th>Storage Life</th>
    <% for (var i = 0; result.length > i; i++) {%>
        <tr>
            <td><%= result [i].Ingredient_Name%></td>
            <td><%= '$' + result [i].Cost_Per_Pound%></td>
            <td><%= result [i].Storage_Life + ' days'%></td>
        </tr>

        <% } %>
</table>
<br>
<a href ="/Ingredient/TotalCost">Total Cost Info</a>
<br>

<a href="/">Back</a>

